@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, garden;
}

:root {
  --font-family: "Andada Pro", serif;
}

@layer base {
  body {
    font-family: var(--font-family);
    background: repeating-linear-gradient(
      90deg,
      var(--color-secondary),
      var(--color-secondary) 10px,
      color-mix(in oklch, var(--color-secondary) 90%, var(--color-secondary-content)) 10px,
      color-mix(in oklch, var(--color-secondary) 90%, var(--color-secondary-content)) 20px
    );
    background-attachment: fixed;
  }
}